In [2]:

import pandas as pd
url = "https://raw.githubusercontent.com/Roberto-M-M/Poryecto_ing/main/4-%20national-gdp-wb.csv"
datos_csv = pd.read_csv(url, encoding='latin1')
datos_csv

           Entity Code  Year  GDP, PPP (constant 2017 international $)
0     Afghanistan  AFG  2002                               26890054000
1     Afghanistan  AFG  2003                               29265058000
2     Afghanistan  AFG  2004                               29678901000
3     Afghanistan  AFG  2005                               33011757000
4     Afghanistan  AFG  2006                               34780330000
...           ...  ...   ...                                       ...
6341     Zimbabwe  ZWE  2017                               34396336000
6342     Zimbabwe  ZWE  2018                               36119544000
6343     Zimbabwe  ZWE  2019                               33832294000
6344     Zimbabwe  ZWE  2020                               31187640000
6345     Zimbabwe  ZWE  2021                               33828616000

[6346 rows x 4 columns]

In [3]:
datos_csv.dtypes

Entity                                      object
Code                                        object
Year                                         int64
GDP, PPP (constant 2017 international $)     int64
dtype: object

In [6]:
datos_csv.isna().sum()

Entity                                        0
Code                                        444
Year                                          0
GDP, PPP (constant 2017 international $)      0
dtype: int64

In [7]:
datos_csv.nunique()

Entity                                       208
Code                                         194
Year                                          32
GDP, PPP (constant 2017 international $)    6332
dtype: int64

In [10]:
print(len(datos_csv))
datos_csv.groupby(by = ['Entity','GDP, PPP (constant 2017 international $)']).size().sort_values(ascending =False)

6346

Entity       GDP, PPP (constant 2017 international $)
Tuvalu       38378296                                    3
             33581010                                    3
Nauru        145591420                                   3
El Salvador  44387557000                                 2
Tuvalu       35979652                                    2
                                                        ..
Georgia      53472494000                                 1
             53116027000                                 1
             51992666000                                 1
             50662480000                                 1
Zimbabwe     36119544000                                 1
Length: 6332, dtype: int64