In [3]:

import pandas as pd
url = "https://raw.githubusercontent.com/Roberto-M-M/Poryecto_ing/main/share-of-adults-defined-as-obese.csv"
datos_csv = pd.read_csv(url, encoding='latin1')
datos_csv

,Entity,Code,Year,"Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+ years"
0,Afghanistan,AFG,1975,0.4
1,Afghanistan,AFG,1976,0.4
2,Afghanistan,AFG,1977,0.5
3,Afghanistan,AFG,1978,0.5
4,Afghanistan,AFG,1979,0.5
...,...,...,...,...
8269,Zimbabwe,ZWE,2012,11.1
8270,Zimbabwe,ZWE,2013,11.3
8271,Zimbabwe,ZWE,2014,11.6
8272,Zimbabwe,ZWE,2015,11.9
8273,Zimbabwe,ZWE,2016,12.3

In [4]:
datos_csv.isna().sum() #datos faltantes

Entity                                                                                                            0
Code                                                                                                            294
Year                                                                                                              0
Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+  years      0
dtype: int64

In [6]:
datos_csv.nunique() #datos duplicados

Entity                                                                                                          197
Code                                                                                                            190
Year                                                                                                             42
Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+  years    493
dtype: int64

In [9]:
datos_csv[datos_csv.duplicated(subset = ['Entity','Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+  years'],keep=False)].sort_values('Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+  years')

,Entity,Code,Year,"Prevalence of obesity among adults, BMI >= 30 (crude estimate) (%) - Sex: both sexes - Age group: 18+ years"
8064,Vietnam,VNM,1975,0.1
8065,Vietnam,VNM,1976,0.1
8066,Vietnam,VNM,1977,0.1
8067,Vietnam,VNM,1978,0.1
8070,Vietnam,VNM,1981,0.2
...,...,...,...,...
7802,United Arab Emirates,ARE,2007,21.5
6079,Qatar,QAT,2006,28.4
6077,Qatar,QAT,2004,28.4
6080,Qatar,QAT,2007,28.5
6078,Qatar,QAT,2005,28.5